<div class='wallpaper'>
  <%= link_to divisions_path, class: 'text1' do %>
    <div class='text-center'>
      Историко-демонстрационный зал</br>
      УФСБ России по Хабаровскому краю
    </div>
  <% end %>
</div>
