<div class='col text-center'>
  <%= link_to image_tag(gallery.icon.url(:thumb).to_s,
              class: 'rounded mx-auto d-block'), gallery_path(gallery) %><br>
  <%= gallery.title %><br>
  <% if current_user.admin? %>
    <%= link_to 'Редактировать', edit_gallery_path(gallery) %> |
    <%= link_to 'Удалить', [gallery.division, gallery],
                method: :delete,
                data: { confirm: 'Вы уверены?' } %>
  <% end %>
</div>
